@config '../tailwind.keywallet.config.js';

@tailwind base;
@tailwind components;
@tailwind utilities;

[type='email'],
[type='url'],
[type='password'],
[type='date'],
[type='datetime-local'],
[type='month'],
[type='tel'],
[type='time'],
[type='week'],
[multiple],
textarea,
select {
  appearance: none;
  background-color: transparent;
  border-color: unset;
  border-width: 0;
  border-radius: unset;
  padding: unset;
  font-size: unset;
  line-height: unset;
}

/* Allow Tailwind utilities to control text and number inputs */
[type='text'],
[type='number'],
[type='search'],
input:where(:not([type])) {
  appearance: none;
}

/* Override default focus colors for tailwindcss-forms */
[type='text']:focus,
[type='email']:focus,
[type='url']:focus,
[type='password']:focus,
[type='number']:focus,
[type='date']:focus,
[type='search']:focus,
[type='checkbox']:focus,
[type='radio']:focus,
[multiple]:focus,
textarea:focus,
select:focus {
  --tw-ring-color: #8A77FF;
  border-color: #8A77FF;
}

