{
  "title": "App name",
  "description": "App description.",
  "support": {
    "email": "your@email.com",
    "telegram": "https://t.me/yourtelegram",
    "x": "https://x.com/yourx"
  },
  "translations": {
    "en": {
      "title": "App name in English",
      "description": "App description in English.",
      "someInputLabel": "Some input label in English",
      "actionInfo": "Some action info in English"
    }
  }
}
